.modal {
    display: none;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
    background-color: #ffd772;
    opacity: 1;
    border: 1px solid gray;
    border-radius: 15px;
}

.block input {
    width: 80%;
    min-height: 40px;
    height: max-content;
}

.active {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.4);
}