* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    height: 100vh;
    margin: 0 auto;
    border: 1px solid black;
}

.taskArea {
    display: flex;
    align-items: center;
    padding: 0 35px;
    width: 100%;
    height: 100px;
    background-color: #093a3e;
}

.taskArea button {
    margin-left: 10%;
    width: 30px;
    height: 30px;
    background-color: #ffd772;
    border: none;
}

.content{
    display: flex;
    height: 100%;
    background-color: #093a3e;
    padding-top: 1%;
}

.board {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 300px;
    height: max-content;
    margin: 0 10px;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: #ffd772;
}

.board__title {
    text-align: center;
    font-size: 1.8em;
    color: #001011;
}

.item {
    width: 100%;
    background-color: #ede9e3;
    font-size: 1.2em;
    margin: 2% auto;
    color: #001011;
    text-align: center;
}

.item::before {
    content: "";
    color: black;
}

.line{
    border-right: 3px solid black;
    height: 100%;
}