* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    min-height: 100vh;
    height: max-content;
    margin: 0 auto;
}

.taskArea {
    display: flex;
    align-items: center;
    padding: 0 35px;
    width: 100%;
    height: 100px;
    background-color: rgba(70,61,71,0.06);
    border: 1px solid gray;
}

.taskArea button {
    margin-left: 10%;
    width: 200px;
    min-width: 30px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100vh - 100px);
    height: max-content;
    padding-top: 1%;
}

.board {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 450px;
    height: max-content;
    margin: 50px 10px;
    padding: 0 10px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: rgba(70,61,71,0.06);
}

.board button {
    position: absolute;
    bottom: 5px;
    left: 30%;
    background: none;
    border: none;
}

.board button:hover {
    transform: scale(1.1);
}

.board button:active{
    transform: scale(0.9);
}


.board__title {
    text-align: center;
    font-size: 1.8em;
    color: #001011;
}

.item {
    width: 100%;
    font-size: 1.2em;
    margin: 2% auto;
    text-align: center;
    border: 1px solid gray;
    border-radius: 15px;
}

.item::before {
    content: "";
    color: black;
}

.line{
    border-right: 3px solid black;
    height: 100%;
}